%p
  %b Name:
  = @cohort.name
%p
  %b Phase 1 start:
  = @cohort.phase_1_start
%p
  %b Location:
  = @cohort.location_id
%p
  %b Github:
  = link_to @cohort.auto_github_name, @cohort.github_team_url, target: 'external'
%p
  %b Members:
  = @cohort.members_from_github

= link_to 'Edit', edit_cohort_path(@cohort)
\|
= link_to 'Back', cohorts_path
