%h2
  = link_to "#{@cohort.location.abbrev.upcase} #{@cohort.name}", @cohort.github_team_url
  \—
  = "Phase #{@cohort.phase}"

.line-break
%h4
  = "#{@cohort.members.count} Members"
  \—
  = link_to "Add", new_user_path(cohort_id: @cohort.id)
= render @cohort.members.sort_by{ |user| user.github_login.downcase}

= link_to 'Edit', edit_cohort_path(@cohort)
\|
= link_to 'Back', cohorts_path
