%h3 Welcome to DBC Teacher!

.large-2.medium-4.small-6.columns.heading
  %strong= pluralize(Cohort.count, 'Cohort')
  .line-break
  = render Cohort.all
.large-2.medium-4.small-6.columns.heading
  - if students = User.students
    %strong= pluralize(students.count, 'Student')
    .line-break
    = render students.order(:name)
.large-2.medium-4.small-6.columns.heading
  - if teachers = User.teachers
    %strong= pluralize(teachers.count, 'Teacher')
    .line-break
    = render teachers.order(:name)
.large-2.medium-4.small-6.columns.heading
  - if admins = User.admins
    %strong= pluralize(admins.count, 'Admin')
    .line-break
    = render admins.order(:name)
.large-2.medium-4.small-6.columns.heading
  - if all_teachers = User.all_teachers
    %strong= pluralize(all_teachers.count, 'All Teacher')
    .line-break
    = render all_teachers.sort_by(&:name)
