%h2 Admin Dashboard

%h4
  = pluralize(Cohort.count, 'Cohort')
= render Cohort.all
  
.clear-both
.large-4.medium-6.small-12.columns
  - if students = User.students
    %strong= pluralize(students.count, 'Student')
    .line-break
    - students.each do |student|
      = render '/users/user_short', user: student
.large-4.medium-6.small-12.columns
  - if all_teachers = User.all_teachers
    %strong= pluralize(all_teachers.count, 'Teacher')
    .line-break
    - all_teachers.each do |teacher|
      = render '/users/user_short', user: teacher
.large-4.medium-6.small-12.columns
  - if mentors = User.mentors
    %strong= pluralize(mentors.count, 'Mentor')
    .line-break
    - mentors.order(:name).each do |mentor|
      = render '/users/user_short', user: mentor
.line-break