= link_to(image_tag(user.avatar_url, alt: "avatar", width: 40, height: 40), user)
= link_to user.name, user
= link_to "(#{user.github})", "http://github.com/#{user.github}"
= link_to("X", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete)
= form_for(user) do |f|
  .large-6.columns= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
  .large-6.columns= f.submit 'Go', :class => 'button-xs'
%br