%h1 Editing User

= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    - options = {collection: Cohort.all, label_method: :phase_cohort}
    .large-2.columns= f.association :cohort, options
    .large-2.columns= f.input :name
    .large-2.columns= f.input :short, autofocus: true
    .large-2.columns= f.input :role, collection: User.roles_humanized
    .large-2.columns= f.input :github_login
    .line-break

  .form-actions
    = f.button :submit
