= simple_form_for(@phase_day) do |f|
  = f.error_notification

  .form-inputs
    .large-4.medium-4.columns= f.input :title
    .large-2.medium-2.columns= f.input :phase_no, collection: (1..3)
    .large-2.medium-2.columns= f.input :day_no, collection: (1..15)
    .large-2.medium-2.columns= f.input :lead_required
    .large-2.medium-2.columns

  .form-actions
    = f.button :submit
