= simple_form_for(@phase_day) do |f|
  = f.error_notification

  .form-inputs
    .large-3.medium-3.columns= f.input :title
    .large-1.medium-1.columns= f.input :phase_no
    .large-1.medium-1.columns= f.input :day_no
    .large-1.medium-1.columns= f.input :lead_required
    .large-6.medium-6.columns

  .form-actions
    = f.button :submit
