%h2= "Phase #{@phase_day.phase_no}, Week #{@phase_day.week_no}, #{@phase_day.weekday}"

%h4= link_to @phase_day.title, edit_phase_day_path(@phase_day)

%h4 Past/Future Phase Leads

= render @phase_day.phase_lead_requests

%hr
= button_to 'All Phase Days', phase_days_path, method: :get
