= simple_form_for(@phase_lead_request) do |f|
  = f.error_notification

  .form-inputs
    = f.input :day
    = f.association :teacher
    = f.association :phase_day
    = f.input :approved_by_coordinator

  .form-actions
    = f.button :submit
