= simple_form_for(@phase_lead_request) do |f|
  = f.error_notification

  .form-inputs
    .large-3.medium-6.columns= f.input :day, include_blank: true, selected: @day, collection: @day_options
    .large-3.medium-6.columns= f.association :teacher, collection: User.all_teachers
    .large-3.medium-6.columns= f.association :phase_day
    .large-3.medium-6.columns= f.input :approved_by_coordinator

  .line-break
  .form-actions
    = f.button :submit, 'Go!'
