%h1 Listing phase_lead_requests

%table
  %thead
    %tr
      %th Day
      %th Teacher
      %th Phase day
      %th Approved by coordinator
      %th
      %th
      %th

  %tbody
    - @phase_lead_requests.each do |phase_lead_request|
      %tr
        %td= phase_lead_request.day
        %td= phase_lead_request.teacher_id
        %td= phase_lead_request.phase_day_id
        %td= phase_lead_request.approved_by_coordinator
        %td= link_to 'Show', phase_lead_request
        %td= link_to 'Edit', edit_phase_lead_request_path(phase_lead_request)
        %td= link_to 'Destroy', phase_lead_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Phase lead request', new_phase_lead_request_path
