= simple_form_for(@challenge) do |f|
  = f.error_notification

  .form-inputs
    .large-4.medium-4.columns
      - if @challenge.phase_day
        = f.association :phase_day
      - else
        = f.association :phase_day, selected: params[:phase_day_id]
    .large-4.medium-4.columns= f.input :name, autofocus: true
    .large-4.medium-4.columns= f.input :github_repo
    = f.input :description

  %hr
  .form-actions
    = f.button :submit
